
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/
data/*
!data/raw/
!data/processed/
models/*
!models/tfidf_logreg/
!models/glove_logreg/
!models/bert/
reports/*
!reports/figures/
.DS_Store
Thumbs.db
